@page "/TemplatePlan"
@using BlazorASG.Data.BlazarComponents.Plans.Category.DataModel
@using BlazorASG.Token
@using CardShopping.Web.Token
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject TokenService tokenService;
@inject AuthCheckedService AuthCheckedService;

 
<section  >

    @if(isAuth){

        <div style="padding:10px!important">
    @* 
            <BlazorASG.Components.PlansTemplate.T1.FeatureList /> *@
            <BlazorASG.Components.Category_Plans_Template.TemListCategorys OnClick="Submit" Params="@dataPlansCategory._listcategories" />
        </div>
    }

    
 

</section>

 
}
@code
{
    public  DataPlansCategory dataPlansCategory = new DataPlansCategory();
    bool isAuth = false;
    private async void Submit(Data.BlazarComponents.Plans.Category.Model.InputCategory inputCategory)
    {
        if (inputCategory != null)
        {
            Snackbar.Add(inputCategory.Name, Severity.Success);
        }
    }

    // protected override async Task OnInitializedAsync()
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            isAuth = await AuthCheckedService.isAuth();
            StateHasChanged();

            if (!isAuth)
            {
                NavigationManager.NavigateTo("/login", forceLoad: true);
            }
        }


    }
}