@page "/TemplatePlan"

  <div>



    <BlazorASG.Components.PlansTemplate.T1.ShowPlans1/>

  
</div>  

 
<div>
    <BlazorASG.Components.PlansTemplate.T1.FeatureList />

</div>
<div>
    <BlazorASG.Components.PlansTemplate.T1.FeatureList2 />
</div>

<div>

    <BlazorASG.Components.PlansTemplate.T1.FeatureList3/>
</div>
 
<div>
    <BlazorASG.Components.PlansTemplate.T1.PlanEdit/>
</div>

}
