@page "/Rigist"
@using BlazorASG.Components.Auth2
@inherits BaseInitializationComponent

<div style="padding:10%!important">

         @if (IsAuth)
         {
              Navigation.NavigateTo("/");
        }
        else
        {
            <TemplateAuth IsToLoginMode="false" />
        }

    

</div>

@code{
    // <BlazorASG.Components.T.Rigister />
}