@page "/Rigist"
@using BlazorASG.Components
@using BlazorASG.Components.Auth2
@inherits BaseInitializationComponent

<div style="padding:10%!important">


    @if (!_isLoaded)
    {

        if (isAuth)
        {
            <LoaderComponent ViewProgress="true" />
        }
        else
        {
            <TemplateAuth IsToLoginMode="false" />
        }


    }
    else
    {
        <LoaderComponent ViewProgress="true" />

    }


  

</div>

@code{
    // <BlazorASG.Components.T.Rigister />

    private bool _isLoaded = true;
    private bool isAuth = false;

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            isAuth = await getAuthAsync();
            StateHasChanged();
            if (isAuth)
            {
                Navigation.NavigateTo("/");
            }
            _isLoaded = false;
            StateHasChanged();

        }
        
        
   

    }
}